<div class="container mt-2">
<form [formGroup]="emprestimoForm" (ngSubmit)="salvarEmprestimo()">
    <div *ngIf="militarNaoEncontrado" class="alert alert-danger">
      Militar não encontrado.
      <a href="/cadastro-militar">Clique aqui para cadastrar.</a>
    </div>
    <div class="mb-3">
      <label for="nf" class="form-label">NF Militar</label>
      <div class="input-group">
        <input type="text" id="nf" formControlName="nf" class="form-control"
               (input)="filtrarSomenteNumeros($event)"
               (keyup.enter)="validarMilitar()" placeholder="Digite o NF">
        <button class="btn btn-primary" type="button" (click)="validarMilitar()">Validar</button>
      </div>
    </div>

    <!-- Campos preenchidos automaticamente após a validação do militar -->
    <div class="mb-3">
      <label for="rg" class="form-label">RG</label>
      <input type="text" class="form-control" id="rg" formControlName="rg" readonly>
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="nome" formControlName="nome" readonly>
    </div>
    <div class="mb-3">
      <label for="posto" class="form-label">Posto</label>
      <input type="text" class="form-control" id="posto" formControlName="posto" readonly>
    </div>

    <!-- Seleção do tipo de material -->
    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo de Material</label>
      <select class="form-select" id="tipo" formControlName="tipo" (change)="carregarMateriaisPorTipo()">
        <option value="">Selecione...</option>
        <option value="Chave">Chave</option>
        <option value="Cartão">Cartão</option>
        <option value="Documento">Documento</option>
        <option value="Outros">Outros</option>
      </select>
    </div>

    <!-- Seleção de material e status -->
    <div class="mb-3">
      <label for="descricaoMaterial">Material</label>
      <select class="form-select" id="descricaoMaterial" formControlName="materialId"
              (change)="atualizarDescricaoMaterial($event)">
        <option value="">Selecione...</option>
        <option *ngFor="let material of materiaisDisponiveis " [value]="material.id">{{ material.descricaoMaterial }}
        </option>
      </select>
    </div>

  <!-- Seleção do tipo de uso -->
  <div class="mb-3">
    <label for="utilizacao" class="form-label">Tipo de uso</label>
    <select class="form-select" id="utilizacao" formControlName="utilizacao">
      <option value="">Selecione...</option>
      <option value="Administrativo">Administrativo</option>
      <option value="Extra">Extra</option>
      <option value="ISEO">ISEO</option>
      <option value="Operacional">Operacional</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="observacao" class="form-label">Observação</label>
    <input type="text" class="form-control" id="observacao" formControlName="observacao" placeholder="Preencha caso necessário">
  </div>


    <!-- Botões para salvar e cancelar -->
    <div class="text-center">
      <button type="submit" class="btn btn-success me-2" [disabled]="!emprestimoForm.valid">Salvar</button>
      <button type="button" class="btn btn-danger" (click)="cancelarEmprestimo()">Cancelar</button>
    </div>
  </form>
</div>
