<div class="container mt-2">
  <form [formGroup]="cadastroForm" (ngSubmit)="salvarDados()">
    <!-- Mensagem de Erro -->
    <div *ngIf="mensagemErro" class="alert alert-danger">
      {{ mensagemErro }}
    </div>

    <div class="mb-3">
      <label for="tipo" class="form-label">Tipo</label>
      <select class="form-select" id="tipo" formControlName="tipo">
        <option value="">Selecione...</option>
        <option value="Chave">Chave</option>
        <option value="Cartão">Cartão</option>
        <option value="Documento">Documento</option>
        <option value="Outros">Outros</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="descricaoMaterial" class="form-label">Descrição</label>
      <input type="text" class="form-control" id="descricaoMaterial" formControlName="descricaoMaterial" placeholder="Ex.: RP5999"
             (input)="formatarDescricao($event)">
    </div>

    <div class="mb-3">
      <label for="observacao" class="form-label">Observação</label>
      <input type="text" class="form-control" id="observacao" formControlName="observacao" placeholder="Digite observação caso necessário">
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success me-2">Salvar</button>
      <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
