<div class="container mt-2">
  <div *ngIf="mensagemSucesso" class="alert alert-success">
    {{ mensagemSucesso }}
  </div>

  <!-- Filtro por Status -->
  <div class="mb-3">
    <label for="filtroStatus" class="form-label">Filtrar por Status:</label>
    <select class="form-select" id="filtroStatus" [(ngModel)]="filtroStatus" (ngModelChange)="aplicarFiltro()">
      <option value="todos">Todos</option>
      <option value="Baixado">Baixado</option>
      <option value="Cautelado">Cautelado</option>
      <option value="P4">Com P/4</option>
      <option value="Disponível">Disponível</option>
      <!-- Adicione mais opções de status conforme necessário -->
    </select>
  </div>

  <!-- Tabela de Materiais -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Observação</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let material of materiais$ | async | sort:'descricaoMaterial'">
      <td>{{ material.tipo }}</td>
      <td>{{ material.descricaoMaterial }}</td>
      <td>{{ material.status }}</td>
      <td>{{ material.motivoBaixa }} {{ material.integranteP4 }}</td>
      <td>
        <div class="btn-container">
        <button class="btn btn-primary me-2" (click)="editarMaterial(material.id)">Editar</button>
        <button class="btn btn-success" *ngIf="material.status === 'Baixado'" (click)="receberMaterial(material.id)">Receber</button>
        <button class="btn btn-success" *ngIf="material.status === 'P4'" (click)="receberMaterial(material.id)">Receber</button>
        <button class="btn btn-danger" *ngIf="material.status === 'Disponível'" (click)="baixarMaterial(material.id)">Baixar</button>
        </div>
      </td>
    </tr>
    </tbody>

  </table>
  <div *ngIf="exibirMensagemSemResultados" class="alert alert-info" role="alert">
      Nenhum material encontrado para o filtro aplicado.
  </div>
</div>
