<!-- src/app/relatorio/relatorio.component.html -->
<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="buscarHistorico()" class="row g-3">
    <div class="col-md-6">
      <label for="dataInicio" class="form-label">Data/Hora Início:</label>
      <input type="datetime-local" id="dataInicio" formControlName="dataInicio" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="dataFim" class="form-label">Data/Hora Fim:</label>
      <input type="datetime-local" id="dataFim" formControlName="dataFim" class="form-control">
    </div>
    <div class="col-12 text-center">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>

  <div class="table-responsive mt-4">
    <table class="table table-bordered text-center">
      <thead class="table-light">
      <tr>
        <th>Data/Hora Cautela</th>
        <th>Nome (Posto + Nome)</th>
        <th>Tipo</th>
        <th>Descrição Material</th>
        <th>Ab. Num.</th> <!-- Nova coluna para Cupom de Abastecimento -->
        <th>Data/Hora Devolução</th>
        <th>Responsável Devolução</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let historico of historicos">
        <td>{{ historico.dataHoraCautela.toDate() | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ historico.posto }} {{ historico.nome }}</td>
        <td>{{ historico.tipo }}</td>
        <td>{{ historico.descricaoMaterial }}</td>
        <td>{{ historico.cupomAbastecimento || '-' }}</td>
        <td>{{ historico.dataHoraDevolucao.toDate() | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ historico.responsavelDevolucao }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
