<div class="accordion" id="accordionExample">
  <!-- Cautelas Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingCautelas">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCautelas" aria-expanded="false" aria-controls="collapseCautelas">
        1. Cautelas
      </button>
    </h2>
    <div id="collapseCautelas" class="accordion-collapse collapse" aria-labelledby="headingCautelas" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="cautelasAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                1.1 Como cautelar material?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#cautelasAccordion">
              <div class="accordion-body">
                <ol>
                  <li>Acesse a guia lateral “Cautelar Material”.</li>
                  <li>No campo NF Militar, digite o NF e clique em validar. Se o militar não estiver cadastrado, uma mensagem com um link para cadastro aparecerá.</li>
                  <li>Os campos RG, Nome Completo e Posto serão preenchidos automaticamente e não podem ser editados.</li>
                  <li>Selecione o tipo de material.</li>
                  <li>Selecione o material a ser cautelado.</li>
                  <li>Selecione o tipo de utilização.</li>
                  <li>Se necessário, preencha o campo Observação.</li>
                  <li>Para finalizar, clique em Salvar.</li>
                </ol>
                <p>Caso deseje cautelar mais de um material, clique em OK na caixa de confirmação e repita os passos 3 a 7. Caso contrário, basta cancelar.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                1.2 Como devolver um material cautelado?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#cautelasAccordion">
              <div class="accordion-body">
                <ol>
                  <li>Acesse a guia lateral “Início”.</li>
                  <li>Na coluna ação, relativa ao item que deseja devolver, clique em devolver.</li>
                  <li>Será redirecionado para confirmar ou cancelar a devolução.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Materials Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingMaterials">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMaterials" aria-expanded="false" aria-controls="collapseMaterials">
        2. Materiais
      </button>
    </h2>
    <div id="collapseMaterials" class="accordion-collapse collapse" aria-labelledby="headingMaterials" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="materialsAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                2.1 Como cadastrar um material?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#materialsAccordion">
              <div class="accordion-body">
                <ol>
                  <li>Acesse a guia lateral “Cadastrar Material”.</li>
                  <li>Selecione o tipo de material.</li>
                  <li>Descreva o material, por exemplo, RP5099 ou Chave-Quadra.</li>
                  <li>Escreva uma observação, se necessário.</li>
                  <li>Clique em Salvar.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                2.2 Como editar / baixar um material?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#materialsAccordion">
              <div class="accordion-body">
                <ol>
                  <li>Acesse a guia lateral “Listar Materiais”.</li>
                  <li>Clique em editar, na coluna Ações.</li>
                  <li>Altere o status para Disponível, Baixado ou com a P/4 conforme necessário.</li>
                  <li>Preencha o campo solicitado abaixo do status.</li>
                  <li>Clique em Atualizar.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Militares Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingMilitares">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMilitares" aria-expanded="false" aria-controls="collapseMilitares">
        3. Militares
      </button>
    </h2>
    <div id="collapseMilitares" class="accordion-collapse collapse" aria-labelledby="headingMilitares" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="militaresAccordion">
          <!-- Como cadastrar um militar -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                3.1 Como cadastrar um militar?
              </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#militaresAccordion">
              <div class="accordion-body">
                <ol>
                  <li>Acesse a guia lateral “Cadastrar Militar”.</li>
                  <li>Preencha todos os campos necessários.</li>
                  <li>Clique em salvar.</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- Como editar um militar -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                3.2 Como editar um militar?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#militaresAccordion">
              <div class="accordion-body">
                <p>Utilize em casos de promoções, ou atualização de dados incorretos.</p>
                <ol>
                  <li>Acesse a guia lateral “Listar Cadastros”.</li>
                  <li>Filtre no campo busca o nome do militar.</li>
                  <li>Clique em editar.</li>
                  <li>Modifique os dados necessários.</li>
                  <li>Clique em salvar.</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- Como excluir um militar -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                3.3 Como excluir um militar?
              </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#militaresAccordion">
              <div class="accordion-body">
                <p>Utilize caso estritamente necessário, seja por duplicação ou erro.</p>
                <ol>
                  <li>Acesse a guia lateral “Listar Cadastros”.</li>
                  <li>Filtre no campo busca o nome do militar.</li>
                  <li>Clique em editar.</li>
                  <li>Clique no botão excluir no fim da página.</li>
                  <li>Leia a mensagem de confirmação.</li>
                  <li>Clique em OK para confirmar a exclusão.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Relatório Section -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingRelatorios">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRelatorios" aria-expanded="false" aria-controls="collapseRelatorios">
        4. Relatório
      </button>
    </h2>
    <div id="collapseRelatorios" class="accordion-collapse collapse" aria-labelledby="headingRelatorios" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion accordion-flush" id="relatoriosAccordion">
          <!-- Como gerar relatório -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                4.1 Como gerar relatório?
              </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#relatoriosAccordion">
              <div class="accordion-body">
                <ol>
                  <li>Acesse a guia lateral “Emitir Relatório”.</li>
                  <li>Preencha os campos com a Data e Hora de início e de término do serviço.</li>
                  <li>Clique em Buscar para consulta ou em Exportar PDF para fazer o download do relatório.</li>
                  <li>Anexe o arquivo ao seu relatório do SIGUN.</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- Como consultar histórico do material -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                4.2 Como consultar histórico do material dos últimos 15 dias?
              </button>
            </h2>
            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#relatoriosAccordion">
              <div class="accordion-body">
                <p>Utilize para consulta rápida do histórico de cautelas de determinado material nos últimos 15 dias.</p>
                <ol>
                  <li>Acesse a guia lateral “Histórico Cautelas”.</li>
                  <li>No campo de filtro, digite o material a ser pesquisado. Ex.: 5099.</li>
                  <li>O histórico relacionado será exibido automaticamente na tela.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
