<div class="container mt-2">
  <h3>Materiais Cautela Diária</h3>
  <div *ngIf="mensagem" class="alert alert-warning">
    {{ mensagem }}
  </div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Data/Hora Cautela</th>
      <th>Descrição</th>
      <th>Militar</th>
      <th>Tipo de Uso</th>
      <th>Resp. Cautela</th>
      <th>Observação</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let material of materiais">
      <td>{{ material.dataHoraCautela.toDate() | date: 'dd/MM/yyyy HH:mm' }}</td>
      <td>{{ material.tipo }} {{ material.descricaoMaterial }}</td>
      <td>{{ material.posto }} {{ material.nome }}</td>
      <td>{{ material.utilizacao }}</td>
      <td>{{ material.responsavelCautela }}</td>
      <td>{{ material.observacao }}</td>
      <td>
        <button (click)="devolverMaterial(material)" class="btn btn-danger">Devolver</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Adicionar verificação para exibir mensagem caso não haja materiais -->
  <div *ngIf="materiais.length === 0" class="alert alert-info" role="alert">
    Nenhum material cautelado.
  </div>
</div>
<hr>
<div class="container mt-3">
  <h3>Materiais Indisponíveis</h3>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Observação</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let material of materiaisBaixados">
      <td>{{ material.tipo }}</td>
      <td>{{ material.descricaoMaterial }}</td>
      <td>{{ material.status }}</td>
      <td>{{ material.motivoBaixa }}{{ material.integranteP4 }}{{ material.observacao }}</td>
      <td>
        <button (click)="editarMaterial(material)" class="btn btn-info me-2">Editar</button>
        <button (click)="receberMaterial(material)" class="btn btn-danger">Receber</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Adicionar verificação para exibir mensagem caso não haja materiais -->
  <div *ngIf="materiaisBaixados.length === 0" class="alert alert-info" role="alert">
    Nenhum material baixado.
  </div>
</div>
<hr>

<div class="container mt-4">
  <h3>Contabilização</h3>
  <div class="col-md-3">
  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th>Tipo</th>
      <th>Total</th>
      <th>Baixados</th>
      <th>Cautelados</th>
      <th>Disponíveis</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tipo of totaisMateriais | keyvalue">
      <td>{{ tipo.key }}</td>
      <td>{{ tipo.value.total }}</td>
      <td>{{ tipo.value.baixados }}</td>
      <td>{{ tipo.value.cautelados }}</td>
      <td>{{ tipo.value.disponiveis }}</td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
